.mid {
    background-color: #215a88;
    height: 48px;
    width: 1450px;
    margin: 9em 0px 0px 0px;
}

.navbar {

    width: 1440px;
    display: flex;
}

.navbar li {

    list-style: none;
    display: inline-block;

    margin: auto;
}

.navbar li a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 18px;
    padding: 8px 20px;
}

/* .navbar li a:hover {
    color: rgb(151, 7, 247);
    border: darkmagenta;
    border-radius: 2px;
    font-size: 20px;
}

.navbar li a:active {
    background-color: deepskyblue;
    border-radius: 5px;
} */